@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-Black.woff2') format('woff2'),
      url('../fonts/CircularStd-Black.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
      url('../fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
span {
    padding: 0px;
    margin: 0px;
    outline: none;
    list-style: none;
    transition: 0.5s;
}

a {
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

button:hover,
button:active,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

input:hover,
input:active,
input:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

body,
html {
    font-family: 'Circular Std Book';
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    font-weight: normal;
/*    overflow-x: hidden;*/
}

html body{
    overflow-x: hidden;
    background: #2c2a2a;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    /*background: #0c2f4b;*/
    display: table;
    width: 100%;
}

header .logo {
    text-align: center;
}

header .logo img { 
  width: 50%;
}

.top-header {
    display: flex;
    align-items: center;
    padding: 0px 25px;
}

.top-h-icon {
    display: table;
    width: auto;
}

.top-h-icon a {
    display: table;
    float: left;
}

.top-h-icon a img {
    height: 22px;
}

.bottom-header .navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  height: 100%;
  display: table;
  font-weight: 500;
  transition: all 0.3s;
  font-size: 16px;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bottom-header li a:hover {
  color: #fff;
  background: #1D1D1D;
}

.bottom-header li a:hover:after {
  content: "";
  transform: rotate(180deg);
}

.bottom-header ul li {
  line-height: 74px;
}

.login-bt {
  background: #fdfffc;
  border: 0px;
  /*border-radius: 5px;*/
  font-size: 14px;
  padding: 5px 20px;
  color: #0a2d4b;
  font-weight: 600;
  margin-right: 10px;
}

.login-bt:hover {
  background: #007bff;
  color: #fff;
}

.regist-bt {
  background: #025ead;
  border: 0px;
  /*border-radius: 5px;*/
  font-size: 14px;
  padding: 5px 20px;
  color: #fff;
  font-weight: 600;
  margin-right: 20px;
}

.regist-bt:hover {
  background: #007be4;
}

.auth-button {
  display: table;
  position: relative;
}

.login-auth-m {
  position: absolute;
  z-index: 9;
  top: 40px;
  width: 320px;
  left: 0;
}

.login-auth-m .card {
  background-color: #ebf0f4;
}

.auth-button button img {
  margin-right: 5px;
}

.setting-i {
  display: table;
  margin-right: 15px;
}

.setting-i:hover img {
  opacity: .7;
}

.time {
  display: table;
  margin-right: 15px;
  color: #fff;
}

.top-h-icon a:hover img {
  opacity: .7;
}

.bottom-header ul {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}

.top-header {
  background-color: #2c2a2a;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0px 15px;
  /*height: 88px;*/
  position: relative;
  z-index: 9;
}

.auth-btns ul li {
  display: inline-block;
  height: 40px;
  vertical-align: top;
}

.auth-btns ul {
  padding-top: 6px;
}

.auth-btns li a.login-btn {
  background: #ff3036;
}

.auth-btns li a {
  /*border-radius: 8px;    */
  color: #ffffff;
  font-size: 14px;
  width: 85px;
  height: 100%;
  font-weight: bold;
  margin-top: 0;
}

.auth-btns li a:hover, .auth-btns li a:focus {
  background: #F4EE35;
  color: #1D1D1D;
}

.lang-drop p {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.lang-drop img {
  width: 24px;
  margin-right: 8px;
}

.lang-drop.user-drop img {
  width: 30px;
}

.lang-drop button {  
  border: 1px solid #3e3e3e;
  background-color: #3e3e3e;
  border-radius: 0px;
}

.lang-drop.user-drop button {
  border: 0;
}

.lang-drop img.down-arrow {
  margin-right: auto;
  width: 18px;
  position: relative;
  top: -2px;
  left: 3px;
}

.lang-drop .dropdown-toggle::after {
  content: none;
}

.lang-drop .dropdown-menu {
  background: #04396C;
  box-shadow: none;
  border: 0;
  width: auto;
  padding: 0;
  min-width: auto;
}

.lang-drop .dropdown-menu .dropdown-item {
  color: #fff;
  padding: 5px 15px;
  background: #3e3e3e;
  /*border-radius: 0;*/
  width: 100%;
  border-bottom: 1px solid #fff;
}

.lang-drop .dropdown-menu .dropdown-item:last-child{
  border-bottom: none;
}

.bottom-header li.active a {
  background: #1D1D1D;
  color: #ffffff;
  border-bottom: 4px solid #F4EE35;
}

.bottom-header li.open a {
  border-bottom: 5px solid #0c2f4b;
  color: #0c2f4b;
  font-weight: 500;
}

.bottom-header li.open .dropdown-menu a {
  color: #0c2f4b;
  border: 0px;
  background: #fff;
}

.bottom-header li.open .dropdown-menu a:hover {
  color: #fff; 
  background: #0c2f4b;
}

.bottom-header li.open a:after {
  content: "";
  transform: rotate(180deg);
}

.lang-drop .dropdown-menu {
  background: #0c2f4b;
  box-shadow: none;
  border: 0;
  width: 100%;
  padding: 0;
  min-width: auto;
  text-align: center;
}

.lang-drop .dropdown-menu .dropdown-item:hover {
  background: #ff3036;
}

.navbar-nav .dropdown-menu {
  float: none;
  border: 0px;
  background: #0c2f4b;
  padding: 0px 0px;
  /*border-radius: 0;*/
  margin: 0px;
  text-align: center;
  min-width: 100%;
  right: 0;
  left: auto;
}

.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:hover {
  border: 0px;
}

.navbar-nav .dropdown-divider {
  margin: 0px;
}


.middle-content {
  background: #2c2a2a;
  padding: 0px 10px;
  position: relative;
  flex: 1
}

.left-sidebar .search input {
  width: 100%;
  border: 0;
  line-height: 30px;
  background-color: #fff;
  padding-left: 15px;
  font-size: 16px;
  /*border-radius: 8px;*/
  height: 40px;
  color: #AFB1B7;
}

.left-sidebar .search {
  position: relative;
}

.left-sidebar .search img {
  position: absolute;
  right: 15px;
  top: 8px;
}

.left-sidebar .search input::placeholder {
  color: #AFB1B7;
}

.fav-matches h2 {
  display: table;
  width: 100%;
  color: #000;
  font-size: 18px;
  font-weight: normal;
  font-weight: bold;
}

.fav-matches ul li {
  padding: 5px 5px;
  border-bottom: 1px solid #EAEDF2;
}

.fav-matches ul li:last-child {
  border-bottom: 0;
}

.fav-matches img {
  margin: 0 5px;
}

.fav-matches ul {
  /*border-radius: 8px;*/
  display: inline-block;
  width: 100%;
  background: #fff;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.1);
}

.fav-matches ul li a {
  color: #73777F;
  width: 100%;
  display: table;
  line-height: 32px;
  padding: 0px 0px;
}
  
.bet-parent, .left-side-parent {
  min-width: 300px;
  max-width: 300px;
} 

.popular-sec .card-header {
  background: #fff;
  border-bottom: 1px solid #F4F4F4;
  margin-bottom: 0 !important;
  padding: 10px 15px;
}

.popular-sec .card-header svg {
  color: #E12239;
  float: right;
  font-size: 14px;
  margin-top: 5px;
}

.popular-sec .card-title {
  color: #73777F;
}

.popular-sec .card {
  /*border-radius: 8px;*/
  background: #fff;
}

.bet-head {
  font-size: 18px;
  color: #F4EE35;
  text-align: center;
  font-weight: bold;
  padding: 8px 0;
}

.bet-inner {
  padding: 0 8px;
  background: #3E3E3E;
  box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.08);
  /*border-radius: 16px;*/
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
  position: relative;
}

.rating>input {
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0px auto;
  height: 24px;
}

.rating>label:before {
  content: "\f005";
  margin: 0 10px;
  font-size: 1.25em;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
  color: #7C7B7B;
}

.rating > input:checked + label:before {
  content: "\f005";
  margin: 0 10px;
  font-size: 1.25em;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
  color: #afb1b7;
}

.rating>.half:before {
  content: "\f089";
  position: absolute;
}

.rating>label {
  color: #04396C;
  float: right;
  margin: 0px;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating input:hover + label,
.rating input > label:hover {
  color: #afb1b7;
}

.rating input:checked:hover + label:before {
  content: "\f005";
  color: #c49407;
}

.sports h2, .popular-sec h2 {
  display: table;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.left-side-parent, .left-sidebar, .sports {
  position: relative;
}

.sports {
  margin: 10px 0;
}


#accordian {
  color: white;
  position: relative;
}

#accordian h3 a {
  padding: 0 0px;
  font-size: 16px;
  line-height: 45px;
  display: block;
  color: #ffffff;
  text-decoration: none;
}

#accordian li.active h3 a {
  color: #fff;
}

#accordian h3 a img + img {
  display: inline-block;
}

#accordian h3 a img {
  display: none;
}

#accordian li.active h3 a img + img {
  display: none;
}

#accordian li.active h3 a img {
  display: inline-block;
}

/*#accordian h3:hover a img {
    display: none;
}

#accordian h3:hover a img + img {
    display: inline-block;
}

#accordian ul li.active h3:hover {
  background: #fff;
}

#accordian ul li.active h3:hover a {
  color: #000;
}

#accordian ul li.active h3:hover:not(:only-child):after {
  color: #AFB1B7;
}*/
  
#accordian h3 a img {
  margin-right: 10px;
  margin-top: -8px;
}

#accordian li {
  list-style-type: none;
  margin: 2px 0px;
  transition: all 0.15s;
  position: relative;
}

#accordian li.active ul li.active {
  background: #2C2A2A;
  /*border-radius: 8px;*/
  /*margin: 0 10px;*/
}

#accordian ul ul li a,
#accordian h3 {
  text-decoration: none;
  font-size: 12px;
  line-height: 35px;
  display: block;
  padding: 0 15px;
  transition: all 0.15s;
  position: relative;
  background: #3E3E3E;
  /*border-radius: 8px;*/
  color: #ffffff;
  font-weight: bold;
}

#accordian ul li.active ul li.active a {
  background: transparent;
  padding-left: 12px;
}

#accordian ul li.active ul li.active a:hover {
  color: #1D1D1D;
  background: #F4EE35;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.18);
  /*border-radius: 8px;*/
}

#accordian ul li.active ul li.active a:hover:after {
  color: #000;
}

#accordian ul li.active ul li.active a.active {  
  /*border-radius: 8px;*/
  color: #1D1D1D;
  background: #F4EE35;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.18);
}

#accordian ul li.active ul li.active a.active .rating>label:before, 
#accordian ul li.active ul li.active a:hover .rating>label:before {
    color: #1D1D1D;
}

#accordian ul li.active ul li.active .rating {
  position: absolute;
  right: -5px;
}

#accordian ul li.active h3 {
  background: #FF3036;
}

#accordian ul ul {
    display: none;
}

#accordian li.active>ul {
  display: block;
  position: relative;
  box-shadow: inset 0px -1px 0px rgba(22, 61, 128, 0.1);
  /*border-radius: 8px;*/
  background: #3E3E3E;
  padding-top: 5px;
}

#accordian li.active li.active>ul {
  background: transparent;
}

.accordian ul {
  position: relative;
}

#accordian ul ul ul {
  margin-left: 0;
  border-left: 0;
}

#accordian ul ul ul li {
  padding: 5px 5px;
}

#accordian ul ul ul li a{
  padding: 0 15px 0px 0px;
}


#accordian a:not(:only-child):after {
  content: "\f107";
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 2px;
  font-size: 16px;
  color: #ffffff;
}

#accordian li.active li.active a:not(:only-child):after {
  right: 12px;
}

#accordian .active>a:not(:only-child):after {
  content:"\f106";
  color: #ffffff;
}


#accordian h3 a:last-child:after {
  content: "\f055";
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
  position: absolute;
  right: 15px;
  top: 1px;
  font-size: 18px;
  color: #7C7B7B;
}

#accordian .active h3 a:last-child:after {
  content: "\f056";
  top: 1px;
  color: #fff;
}

#accordian li > a img {
  width: 22px;
  margin-right: 10px;
  margin-top: -8px;
}


#accordian li:nth-child(1) {
  margin-top: 0;
}

.stats h2 {
  background: #007be4;
  display: table;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 0px 10px;
}

.stats h2 img {
  margin-right: 8px;
}

.stats li {
  background: #fff;
  border-bottom: 1px solid #b8b8b8;
  width: 100% !important;
}

.stats li a {
  color: #0c2f4b;
  font-size: 14px;
  padding: 10px 30px;
  display: table;
  width: 100%;
}

.odds-section{
  /*border-radius: 5px;*/
  overflow: hidden;
}

.odds-section .title-odds{
  background: #FF3036;
  width: 100%;
  color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  /*border-radius: 8px 8px 0 0;*/
}

.odds-section .title-odds p {
  color: #ffffff;
  font-size: 14px;
}

/*.odds-section .title-odds {
  color: #000;
}*/

.odds-section .nav-pills .nav-link.active, .odds-section .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1D1D1D;
  border-radius: 0;
}

.odds-section .nav-pills .nav-link.active:hover span {
  color: #ffffff;
}

.odds-section .nav-pills .nav-link {
  /*border-radius: 0px;*/
  color: #000;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.8rem;
}

.odds-section .nav-pills .nav-link span {
  display: inline-block;
  vertical-align: top;
  color: #7C7B7B;
  font-weight: bold;
}

.odds-section .nav-pills .nav-link.active span {
    color: #fff;
}

.odds-section .nav-pills .nav-link:hover span {
  color: #000;
}

.odds-section .nav-pills a img {
  display: table;
  height: 28px;
}

.odds-section .nav-pills a img + img {
  display: none;
}

.odds-section .nav-pills a:hover img + img {
  display: block;
}

.odds-section .nav-pills a:hover  {
  color: #fff;
  background-color: #F4EE35;
  /*border-radius: 8px 8px 0 0;*/
}

.odds-section .nav-pills a img {
  height: 20px;
  margin-right: 7px;
}

.odds-section .nav-pills p {
  font-weight: 500;
  font-size: 14px;
  padding: .5rem 1.2rem;
}

.odds-section .nav-pills p span {
  font-weight: bold;
  color: #000;
}

.l-tabs.nav-tabs {
  border-bottom: 0;
}

.l-tabs.nav-tabs .nav-item.show .nav-link, .l-tabs.nav-tabs .nav-link.active {
  color: #F4EE35;
  background-color: transparent;
  border-color: transparent;
}

.l-tabs.nav-tabs .nav-link {
  font-size: 18px;
  font-weight: bold;
  color: #7C7B7B;
  padding-right: 25px;
  padding-left: 0;
}

.l-tabs.nav-tabs .nav-link:hover {
  border-color: transparent;
}

.red-circle {
  width: 8px;
  height: 8px;
  /*border-radius: 100%;*/
  background: #E12239;
  display: inline-block;
  margin-right: 7px;
}


.odds-section .nav-pills a:hover img {
    display: none;
}
.odds-section .nav-pills {
  padding-top: 10px;
  margin: 0 25px;
}

.odds-section .nav-pills li {
  margin: 0 10px;
}

.bg {
/*  background: #E3D5CE;*/
  /*border-radius: 16px;*/
}

.bg .tab-content table.table {
  color: #ffffff;
}

.bg .tab-content {
  background: #1D1D1D;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.34);  
  /*border-radius: 16px;*/
}

.odds-section .nav-pills .nav-link.active img + img, .odds-section .nav-pills .show>.nav-link img + img {
    display: block;
}

.odds-section .nav-pills .nav-link.active img, .odds-section .nav-pills .show>.nav-link img{
    display: none;
}

.odd-table thead tr th ul li {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  position: relative;
}

.odd-table ul li a {
  color: #0a2d4b;
} 

.odd-table thead th {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 27px;
  padding: 8px .75rem;
}

.odd-table thead th:nth-child(1){
  width: 100px;
}

.odd-table tr td .team-name p:first-child a {
  color: #ffffff;
  font-size: 14px;
}

.odd-table tr td .team-name p:last-child a {
  color: #ffffff;
  font-size: 16px;
}

.time-bg {
  /*background: #E12239;*/
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
}

.time-th {
  width: 30px;
}

.time-d {
  background: #79BD2E;  
  padding: 5px 10px;
  line-height: 55px;
  height: 55px;
  width: 70px;
}

.cominng-up-match .time-d {
  background-color: #3E3E3E;
  flex-direction: column;
  line-height: 20px;
}

.time-d span {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: #ffffff; 
}

.odd-table ul li a {
  color: #000;
  font-size: 14px;
  width: 60px;
  display: table;
  margin: 0px auto;
  /*border-radius: 5px;*/
  line-height: 15px;
}

.odd-table .odd-rate ul li a {
  background-color: #FCAFB3;
  width: 45px;
  padding: 4px 0;
  position: relative;
  /*height: 34px;*/
  text-align: center;
}

.odd-table .odd-rate ul li a svg.up, .odd-table .odd-rate ul li a svg.down {
  position: absolute; 
  left: 1px;
}

.odd-table .odd-rate div.odd-rate-div ul {
  width: 100%;
}

.odd-table .odd-rate div.odd-rate-div ul li { 
  width: calc(100% / 3)
}

.odd-table .odd-rate div.odd-rate-div ul li a {
  min-width: 70px;
  max-width: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.odd-table .odd-rate div.odd-rate-div ul li a span {color: #000;}

.odd-table .odd-rate ul li a:hover, .odd-table .odd-rate ul li.green-block a {
  background: #90D2EE;
  /*border: 1px solid #79BD2E;*/
  min-width: 28px;
  max-width: 45px;
  color: #000;
}

li.green-block, li.red-block {
  padding: 0 2px;
}

.odd-table .odd-rate ul li.red-block a {
  background: #FCAFB3;
  /*border: 1px solid #DF2239;*/
  width: 45px;
  color: #000;
}

.odd-table ul li a:hover {
  background: #007be4;
  color: #fff;
  width: 60px;
  display: table;
  margin: 0px auto;
  /*border-radius: 5px;*/
} 

.odd-table .rating>label {
  margin: 0px 10px;
}

.odd-table thead th.country-name img {
  /*border-radius: 50%;*/
  background: #fff;
  overflow: hidden;
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  object-fit: cover;
  margin: 0px 10px;
}

.odd-table thead th:last-child {
  width: 70px;
  padding-top: 0;
}

.odd-table thead th:last-child a {
  display: table;
  margin: 0px auto;
}

.odd-table thead th.score-head, .odd-table thead th.odds-score {
  text-align: center;
}

.odd-table thead th.score-head div, .odd-table thead th.odds-score div {
  display: table;
  width: 100%;
}

.odd-table thead th.odds-score {
  padding-left: 0;
}

.odd-table tbody tr td {
  color: #0a2d4b;
  font-weight: 500;
  font-size: 14px;
  vertical-align: middle;
  padding: 0px .75rem;
  background: #1D1D1D;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.18);
}

.odd-table tbody tr td.odd-rate  >div ul {
  display: flex;
  width: calc(100% / 3);
  float: left;
  justify-content: center;
}

.odd-table .rating {
  line-height: 32px;
}

.odd-table tbody tr td div.team-name p a{
  color: #0a2d4b;
  font-weight: 500;
  white-space: nowrap;
}


.odd-table tbody tr td .rating>label:before {
  content: "\f005";
  margin: 0 10px;
  font-size: 16px;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
  margin: 0px; 
}

.odd-table tbody tr td.score div p {
  text-align: center;
  /*border-radius: 5px;*/
  color: #ffffff;
  font-weight: 500;
  padding: 0px;
  margin: 0px auto;
  font-size: 14px;
}

.odd-table tbody tr td.score div p:hover, .table-striped tbody tr:nth-of-type(odd) td.score div p:hover {
  cursor: pointer;
  background: #E3D5CE;
}

.odd-table tbody tr td p.scoring {
  color: #DF2239;
  font-size: 16px;
}

.odd-table tbody tr td p.scoring a {
  color: #DF2239;
  font-size: 16px;
  display: flex;
}

.odd-table tbody tr td p.scoring a span {
  padding-left: 10px;
}

.scoring img {
  padding-right: 10px;
}

.odd-table tbody tr td.score div p.score-block {
  border: none;
  /*border-radius: 8px;*/
  padding: 6px 0px;
  background: transparent;
  width:  70px;
}

.odd-table tbody tr td.score {
  padding: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ebf0f4;
}

.odd-table tbody tr td .team-name:hover {
  opacity: 0.8;
}

.odd-table tbody tr td:last-child:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*.table-striped tbody tr:nth-of-type(odd) td.score div p {
    background-color: #fff;
}*/

.odd-table tbody td.score div, .odd-table tbody td.odd-rate div {
  display: flex;
  padding: 0;
  width: 100%;
}

.odd-table thead th.country-name {
  width: 40%;
}

.odd-table thead th.score-head {
  padding:  0;
}

.up {
  color: green !important;
}

.down {
  color: red !important;
}

.odd-table ul li a:hover svg {
  color: #fff !important
}

.odd-table ul li a svg {
  position: absolute;
  margin: 1px 3px;
}


.middle-parent {
  width: calc(100% - 600px);
  display: block;
}

.banner {
  height: auto;
} 

.banner img {
  display: table;
  width: 100%;
  object-fit:cover;
}

.slider-div {
  /*background: #edab24;*/
  background-image: url(../images/banner--1.png);
  height: 250px;
  border-radius: 16px;
  color: #fff;
  padding: 0 40px;
  display: inline-block;
  width: 100%;
  background-size: cover; 
}

.signup-btn a {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

.signup-btn {
  background: #1D1D1D;
  /*border-radius: 8px;*/
  height: 35px;
  width: 80px;
}

.player-img img {
  width: 270px;
  margin: 0 auto;
}

.slider-div h4 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 70px;
  color: #000;
}

.slider-div p {
  font-size: 14px;
  color: #000;
}

.banner .carousel-control-prev {
  right: 55px;
  display: inline-block;
  top: 80%;
  left: auto;
  width: auto;
  background:  #2C2A2A;
  opacity: 1;
  height: 24px;
  /*border-radius: 100%;*/
  width: 24px;
  line-height: 35px;
}

.banner .carousel-control-next-icon {
  background-image: url("../images/ic-arrow-right.png");
}

.banner .carousel-control-prev-icon {
  background-image: url("../images/ic-arrow-left.png");
}

.banner .carousel-control-next {
  right: 20px;
  display: inline-block;
  top: 80%;
  width: auto;
  background: #1D1D1D;
  opacity: 1;
  height: 24px;
  /*border-radius: 100%;*/
  width: 24px;
  line-height: 35px;
}

.odd-table tbody tr td:last-child {
  /*border-radius: 0px 5px 5px 0px;*/
}

.odd-table tr, .odd-table th {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
}

.odd-table thead th:last-child {
    /*border-radius: 0px 5px 5px 0px;*/
}

.see-all {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  font-size: 16px;
  /*background: #F4F4F4;*/
  padding: 10px 20px;
  /*border-radius: 8px;*/
}

.see-all:hover {
  color: #000;
}

.odds-section.highlight .nav-pills .nav-link.active, .odds-section.highlight .nav-pills .show>.nav-link {
  color: #0a2d4b;
  background-color: transparent;
  border-bottom: 3px solid #0c37f0;
  /*border-radius: 0px;*/
  padding-bottom: 3px;
}

.odds-section.highlight .nav-pills a:hover {
  border-bottom: 3px solid #0c37f0;
}

.odd-table {
  border-spacing: 0px 5px;
  border-collapse: separate;    
}

.odd-table tbody td {
  border-spacing: 0px 0px;
}

.bet-parent ul li {
  width: 50%;
}

.bet-parent ul.nav {
  background: #2C2A2A;
  /*border-radius: 8px;*/
  /*padding: 8px 2px;*/
}

.bet-parent ul.top-bet-tab li a {
  display: table;
  border-radius: 0;
  text-align: center;
  width: 100%;
  color: #7C7B7B;
  font-weight: bold;
  font-size: 14px;
  padding: .5rem 0.1rem;
}

.bet-parent .nav-pills .nav-link.active, .bet-parent .nav-pills .show>.nav-link {
  /*border-radius: 8px;    */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background: #FF3036;  
}

.bet-slip-tab ul li a {
  background: #c1e0fa;
  /*border-radius: 0px !important;*/
  color: #0c2f4b;
  text-align: center;
}

.bet-slip-tab ul li a.active {
  background: #c1e0fa !important;
  border-bottom: 2px solid #0c2f4b;
  /*border-radius: 0px !important;*/
  color: #0c2f4b !important;
} 

.team-name .time span {
  display: table;
  font-size: 10px;
}

.team-name .time  {
  display: table;
  margin-right: 10px;
  color: #0c2f4b;
  border-right: 2px solid #b3cde9;
  padding: 0px 10px;
  line-height: 12px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.dropdown.open .dropdown-menu {
  display: block;
}

.time-dropdown button p {
  color: #fff;
}

.time-dropdown button {
  color: #fff;
}

.time-dropdown ul li {
  background-color: #007be4;
  line-height: 22px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-bottom: 1px solid #b3cde9;
}

.time-dropdown .dropdown-menu.show {
  display: block;
  left: auto !important;
  right: 0px;
  top: 42px !important;
  padding: 0px;
  min-width: 600px;
  transform: none !important;
  max-width: 500px;
  max-height: 300px;
  overflow-y: scroll;
}

.time-dropdown.show button {
  background: #007be4;
}

.time-dropdown button:hover {
  background: #007be4;
}

.slip {
  display: table;
  width: 100%;
  border-bottom: 1px solid #1D1D1D;
  padding-bottom: 5px;
}

.bet-parent .slip .my-bet-section .bet-slip-number li {
  margin: 0;   
  padding: 0 7px;
}

.bet-parent .slip .my-bet-section .bet-slip-number {
  padding: 10px 0;
  background: #f6f6f6;
}

.bet-parent .slip .my-bet-section li {
  border-left: none;
  background-color: inherit;
  font-size: 14px;
}

.bet-parent .slip li {
  width: 100%;
  background: rgb(44 42 42 / 40%);
  padding: 7px 7px;
  margin-bottom: 8px;
  /*border-radius: 8px;*/
  position: relative;
}

.bet-parent .slip li img.cancel-icon {
  position: absolute;
  right: 5px;
  top: 6px;  
  background: #000;
  /*border-radius: 100%;*/
  width: 16px;
  height: 16px;
  padding: 4px;
  cursor: pointer;
}

.slip h4 {
  display: table;
  width: 100%;
  color: #f4f4f4;
  font-size: 12px;
}


.slip .t-name span.live-m {
  background: #E12239;
  font-size: 12px;
  color: #fff;
  padding: 2px 5px;
  /*border-radius: 4px;*/
  text-transform: uppercase;
  margin-left: 10px !important;
}

.bet-cb {
  font-size: 18px;
}

span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.overall-ods p span {
  border: 1px solid #FF3036;
  background: #2C2A2A;
  width: 60px;
  height: 35px;
  /*border-radius: 8px;*/
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding-right: 6px;
  line-height: 35px;
}

.bet-count b {
  font-size: 18px;
  color: #ffffff;
}

.slip p.t-name  {
  display: table;
  width: 100%;
}  

.slip p.t-name span {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.slip .bet-count {
  width: 100%;
  font-size: 14px;
  align-items: center;
}

.number input {
  font-size: 14px;
  text-align: left;
  padding: 0px 10px;
  width: 100px;
  border: 1px solid #d9e0e6;
  color: #0c2f4b;
  font-weight: 500;
  width: 100%;
  line-height: 25px;
}

.number span {
  color: #0c2f4b;
  background: #c1e0fa;
  font-size: 12px;
  padding: 0px 5px;
  font-weight: 600;
  cursor: pointer;
  width: 15px;
  line-height: 15px;
  height: 15px;
}

.number span:hover {
  background: #0c2f4b;
  color: #fff;
} 

.single-stake .number {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-stake p {
  font-size: 14px;
  color: #0c2f4b;
  font-weight: 600
}

.single-stake p b {
  color: #148b27;
  margin-left: 5px;
  font-size: 16px;
}

.select-bet select{
  width: 100%;
  color: #0c2f4b;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  border: 1px solid #d9e0e6;
}

.overall-ods p{
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.stake p{
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.stake .number input {
  height: 20px;
  width: 50px;
}

.pre-stake ul {
  display: table;
  width: 100%;
}

.pre-stake ul li {
  width: calc(100% / 5 - 8px);
  float: left;
  margin: 0px 5px;
  text-align: center;
}

.pre-stake ul li a {
  color: #ffffff;
  font-size: 14px;
  display: block;
  background: #2C2A2A;
  border: 1px solid #FF3036;
  /*border-radius: 8px;*/
  font-weight: bold;
  padding: 8px 0;
}

.pre-stake ul li.active a, .pre-stake ul li a:hover {
  background: #F4EE35;
  border: 1px solid #F4EE35;
  color: #000;
}

.slip-amount {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border-top: 1px solid #1D1D1D;
  border-bottom: 1px solid #1D1D1D;
}

.bor-right {
  border-right: 1px solid #1D1D1D;
}

.slip-amount .amt {
  color: #F4EE35;
  font-size: 18px;
}

.Promo-dis input {
  width: 100%;
  height: 28px;
  font-size: 14px;
  border: 1px solid #d9e0e6;
  padding: 0px 5px;
  color: #0a2d4b;
}

.Promo-dis {
  background: #f6f6f6;
}

.ods-change label {
  color: #0a2d4b;
  font-size: 14px;
  font-weight: 500;
}

.ods-change select {
  width: 100%;
  border: 1px solid #d9e0e6;
  color: #0c2f4b;
  font-size: 14px;
  padding: 5px;
  font-weight: 500;
}

/*::-webkit-input-placeholder { /* Edge 
  color: #0c2f4b;
}

:-ms-input-placeholder { /* Internet Explorer 
  color: #0c2f4b;
}

::placeholder {
  color: #0c2f4b;
}
*/
.placebet-btn{
  width: 100%;
  background: #79BD2E;
  color: #fff;
  border: 0;
  padding: 10px 0px;
  margin: 20px 0px 5px;
  /*border-radius: 10px;*/
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 16px;
}

.remove-bet{
  color: #F4F4F4;
  font-size: 16px;
  margin: 0px auto;
  border: 0;
  background: transparent;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
}
.remove-bet:hover {
  color: #F4EE35;
}


.upcoming h2 {
  background: #007be4;
  display: table;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 0px 10px;
}

.upcoming li img {
  margin-right: 5px;
}

.upcoming li {
  background: #fff;
  border-bottom: 1px solid #b8b8b8;
  width: 100% !important;
}

.upcoming li a {
  color: #0c2f4b;
  font-size: 14px;
  padding: 10px 10px;
  display: table;
  width: 100%;
}

footer {
  background: #2c2a2a;
  position: relative;
  z-index: 9;
}

footer ul {
  width: 100%;
}

footer li {
  margin: 0px 15px;
}

footer li:first-child {
  margin-right: 5px;
}

footer li a {
  color: #626262;
  font-size: 14px;
}

footer li a:hover {
  color: #F4EE35;
}

footer li a img {
  width: 20px;
}

footer p {
  font-size: 14px;
  color: #626262;
}

.login-auth-m .card .input-group-text {
  border: 0px;
  background: transparent;
  width: 50px;
}

.login-auth-m .card .input-group {
  background: #fff;
}

.login-auth-m .card .input-group input {
  border: 0px;
  color: #000;
  border-right: 3px solid #f0f4f7;
  font-size: 14px;
  height: 30px;
  margin: 6px 0px;
  line-height: 30px;
}

::-webkit-input-placeholder { /* Edge */
  color: #000;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::placeholder {
  color: #000;
}

.login-auth-m .card .form-check input {
  border: 0px;
  background: #a5b6c3;
  width: 16px;
  height: 16px;
}

.login-auth-m .card .form-check label{
  color: #8299ab;
  font-size: 14px;
  margin-left: 4px;
}

.login-auth-m .card .forget-p {
  color: #8299ab;
  font-size: 14px;
}

.login-auth-m .card .forget-p:hover {
  color: #000;
}

.login-btn {
  width: 100%;
  background: rgba(8, 63, 108, 1);
  background: -moz-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8, 63, 108, 1)), color-stop(49%, rgba(3, 93, 172, 1)), color-stop(100%, rgba(3, 93, 172, 1)));
  background: -webkit-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: -o-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: -ms-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: linear-gradient(to right, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083f6c', endColorstr='#035dac', GradientType=1);
  color: #fff;
  border: 0;
  padding: 10px 0px;
  margin: 20px 0px 5px;
  /*border-radius: 10px;*/
}

.login-btn:hover {
  background: rgba(3,108,199,1);
  background: -moz-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,108,199,1)), color-stop(100%, rgba(11,56,93,1)));
  background: -webkit-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
  background: -o-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
  background: -ms-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
  background: linear-gradient(to right, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
}

.register-btn {
  width: 100%;
  background: rgba(8, 63, 108, 1);
  background: -moz-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8, 63, 108, 1)), color-stop(49%, rgba(3, 93, 172, 1)), color-stop(100%, rgba(3, 93, 172, 1)));
  background: -webkit-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: -o-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: -ms-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: linear-gradient(to right, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);  
  color: #fff;
  border: 0;
  padding: 10px 10px;
  margin: 0px 0px 5px;
  /*border-radius: 5px;*/
  width: 250px
}

.register-btn:hover {
  background: rgba(3,108,199,1);
  background: -moz-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(3,108,199,1)), color-stop(100%, rgba(11,56,93,1)));
  background: -webkit-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
  background: -o-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
  background: -ms-linear-gradient(left, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);
  background: linear-gradient(to right, rgba(3,108,199,1) 0%, rgba(11,56,93,1) 100%);  

}

.register-modal .modal-content {
  background: transparent;
  border: 0;
}

.register-modal .modal-content .modal-body {
  background: #ebf0f4;
  /*border-radius: 0px 0px 5px 5px;*/
}

.register-modal .nav-pills .nav-link {
  /*border-radius: 5px 5px 0px 0px;*/
  background: #7e8891;
  line-height: 35px;
  color: #fff;
  font-size: 14px;
}

.register-modal .nav-pills .nav-link:hover {
  background-color: #007bff;
}

.register-modal .nav-pills .nav-link img {
  margin-right: 10px;
}

.register-modal .nav-pills .nav-link.active, .register-modal .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #007bff;
}

.register-modal .one-click .col-6:nth-child(1) select,
.register-modal .one-click .col-6:nth-child(2) select {
  text-transform: uppercase;
}

.register-modal select {
  font-size: 14px;
  border: 0px;
  color: #000;
  margin-bottom: 20px;
  /*border-radius: 0px;*/
  border: 1px solid #dee2e6!important;
}

.register-modal input {
  font-size: 14px;
  border: 0px;
  color: #000;
  margin-bottom: 20px;
  /*border-radius: 0px;*/
  width: 100%;
  padding: 5px 15px;
  line-height: 30px;
  border: 1px solid #dee2e6!important;
}

.register-modal p {
  text-align: center;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.register-modal p a{
  color: #065ba3;
}

.register-modal .tab-pane{
  max-width: 600px;
  margin: 0px auto;
}


.msg-button a img {
  width: 24px;
}

.msg-button a img + img {
  display: none;
}

.msg-button a:hover img {
  display: none;
}

.msg-button a:hover img + img {
  display: block;
}

.msg-button {
  position: relative;
}

.msg-link {
  display: table;
}

.logout-btn a, .user-btn a {
  display: table;
}

.logout-btn a img, .user-btn a img {
  width:18px;
}

.logout-btn a img + img, .user-btn a img + img {
  display: none;
}

.logout-btn a:hover img, .user-btn a:hover img {
  display: none;
}

.logout-btn a:hover img + img, .user-btn a:hover img + img  {
  display: block;
}

.deposit-btn p {
  color: #fff;
  line-height: 24px;
  font-size: 14px;
}

.deposit-btn a {
  background: #FFE;
  padding: 0px 10px;
  font-size: 14px;
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #0c2f4b;
  font-weight: 500;
  margin-left: 20px;
  height: 24px;
  cursor: pointer;
}

.deposit-btn a:hover {
  background: #007bff;
  color: #fff;
}

.messages {
  position: absolute;
  top: 32px;
  right: 0px;
  z-index: 99;
  width: 500px;
}

.messages .card{
  background: #07477c;
  /*border-radius: 10px;*/
  padding: 15px;
}

.messages .card h4 {
  color: #fff;
  font-size: 14px;
}

.messages .card p {
  font-size: 12px;
  color: #fff;
}

.msg-cover {
  position: relative;
  padding: 10px;
}

.msg-cover a {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
}

.msg-cover a:hover {
  color: #007bff;
} 

.mkt.odds-section .nav-pills .nav-link.active, .mkt.odds-section .nav-pills .show>.nav-link {
  color: #ffffff;
  background-color: #007be4;
  border-bottom: none;
  /*border-radius: 0px;*/
  /*border-radius: 5px;*/
  line-height: 26px;
  padding: 0 15px;
}

.mkt.odds-section .nav-pills {
  background:transparent;
}

.mkt.odds-section .nav-pills .nav-link {
  /*border-radius: 0px;*/
  color: #0a2d4b;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #c1e0fa;
  margin: 0px 15px 0px 0px;
  padding: 0px 10px;
  line-height: 25px;
  /*border-radius: 5px;*/
}

.mkt.odds-section .nav-pills a:hover {
  color: #ffffff;
  background-color: #007be4;
  border-bottom: none;
  /*border-radius: 0px;*/
  /*border-radius: 5px;*/
  line-height: 26px;
  padding: 0 15px;
}

.mkt.odds-section .nav-pills .nav-link .rating>label:before {
  content: "\f005";
  margin: 0 10px 0px 0px;
  font-size: 1.25em;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
}


.mkt-table .rating > input:checked + label:before {
  content: "\f005";
  margin: 0 0px 0px 0px;
  font-size: 1.25em;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 900;
}

.mkt-head {
  background: #F4EE35;
  padding: 5px 0px;
  color: #0a2d4b;
  display: inline-block;
  position: relative;
  /*border-top-left-radius: 16px;
  border-top-right-radius: 16px;*/
}

.hist-border {
  border: 1px solid #E12239;
  /*border-radius: 16px;*/
}

.mkt-head h2 {
  font-size: 16px;
  color: #1D1D1D;
  width: 100%;
}

.mkt-head table {
  margin-bottom: 0;
}

.mkt-head th {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  padding: 0 .75rem;
  vertical-align: middle;
  border-top: 0;
}

.bet-no {
  color: #ffffff !important;
  padding: 12px;
}
.banner-text {
  color: #fff;
}
.mkt-head .rating>label:before {
  content: "\f005";
  margin: 0 10px 0px 0px;
  font-size: 16px;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-weight: 400;
}

.detail-block {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(175, 177, 183,0.5);
  margin: 12px;
}

.detail-block p {
  color: #ffffff !important;
}

.mkt-odds p {
  color: #1D1D1D;
  font-size: 14px;
  font-weight: normal;
}

.mkt-odds p.ticket-detail {
  color: #ffffff;
}

.mkt-head .rating>label {
    color: #007be4; 
}

p.cashout-btn {
  background: #E12239;
  /*border-radius: 8px;*/
  color: #fff !important;
  width: 90px;
  line-height: 30px;
  height: 30px;
  text-align: center;
}

.sports-section .p-head {
  color: #04396C;
}

.bg-section {
  background: #3E3E3E;
  padding: 5px;
  /*border-radius: 0 0 16px 16px;*/
}

.mkt-odd-cover li {
  color: #ffffff;
  border: 1px solid #FF3036;
  font-weight: 500;
  font-size: 16px;
  background: #2C2A2A;
  /*border-radius: 8px;*/
  padding: 5px 5px;
  height: 35px;
  align-items: center;
}

.mkt-odd-cover li {
  margin-right: 5px;
}

.mkt-odd-cover li:last-child {
  margin-right: 0;
}

.mkt-odd-cover li a span {
  color: #ffffff;
}

table.history-table td {
  color: #AFB1B7;
  font-size: 14px;
  border-top: 0;
  padding: 0 .75rem;
}

table.history-table td b {
  color: #ffffff;
  font-size: 16px;
}

/*.mkt-odd-cover li a:hover {
   border: 1px solid #FF3036;
} */

.mkt-odd-cover li.active a {
  border: 1px solid #04396C;
}

.mkt-head svg {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 20px;
  /*margin-right: 1rem;*/
}

.details .mkt-head svg {
  font-size: 16px;
  color: #000;
}

.details .mkt-head span {
  padding: 0 3px;
}

.scoring-no {
  width: 1%;
  float: left;
}

.mkt-banner {
  background: url(../images/banner-img.png);
  height: 190px;
  background-repeat: no-repeat;
  background-size: cover;
}

.details .mkt-head {
  padding: 15px 0;
  /*border-radius: 8px;*/
}

.boxx {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
}

.exp-market {
  font-size: 11px;
  color: #F4EE35;
}

.mkt-summary {
  height: 100%;
}

.mkt-summary li a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.mkt-summary li a span {
  display: table;
  width: 100%;
  font-weight: 400;
}

.mkt-summary li {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mkt-summary table {
  width: 500px;
}

.mkt-summary table thead tr th{
  background: #007be4;
  color: #fff;
  padding: 5px 10px;
  border: 0px;
}

.mkt-summary table tbody tr td {
  background: #035eab;
  color: #fff;
  border: 0px;
  border-bottom: 1px solid #003b6d;
} 

select option { color: #bec0c2; }
select { color: #ebf0f4; }

select:focus {
  outline: none !important;
  box-shadow: none !important;
}


#ui-datepicker-div {
  display: none;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
  margin-top: 0.25rem;
  /*border-radius: 0.5rem;*/
  padding: 0.5rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ui-datepicker-calendar thead th {
  padding: 0.25rem 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: #78909C;
}
.ui-datepicker-calendar tbody td {
  width: 2.5rem;
  text-align: center;
  padding: 0;
}
.ui-datepicker-calendar tbody td a {
  display: block;
  /*border-radius: 0.25rem;*/
  line-height: 2rem;
  transition: 0.3s all;
  color: #546E7A;
  font-size: 0.875rem;
  text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {  
  background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
  background-color: #009688;
  color: white;
}
.ui-datepicker-header a.ui-corner-all {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  /*border-radius: 0.25rem;*/
  transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
  background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {    
  left: 0;    
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 50%;
  transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%;
}
.ui-datepicker-header a>span {
    display: none;
}
.ui-datepicker-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
  color: #78909C;
  font-weight: 400;
  font-size: 0.75rem;
}

.sport-sorting {
  padding: 0px 15px;
  display: none;
}

.sport-sorting li a {
  padding: 5px 10px;
  display: table;
  height: 100%;
  text-align: center;
  margin: 0px auto;
}

.sport-sorting li a:hover {
  background: #1D1D1D;
}

.sport-sorting li a.active {
    background: #1D1D1D; 
}

.sport-sorting li a img {
  height: 18px;
  margin-bottom: 5px;
}

.sport-sorting li a span {
  display: table;
  text-align: center;
  margin: 0px auto;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
}

.navbar-toggler-icon {
  background-image: url("../images/menu.png");
  width: 30px;
  height: 30px;
}

.navbar-toggler {
  padding: 0px 7px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: white;
  border: 1px solid transparent;
  /*border-radius: .25rem;*/
  font-size: 16px;
  position: absolute;
  right: 35px;
  top: 10px;
}

.close-menu {
  display: none;
}

.responsive-tab-odds ul li a {
  width: 100%;
  background: #fff;
  display: table;
  line-height: 35px;
  margin-top: 15px;
  text-align: center;
  color: #0c2f4b;
  font-weight: 500;
  font-size: 14px;
}

.responsive-tab-odds ul li a.active {
  border-bottom: 2px solid #0c2f4b;
}

.bet-slip-count{
  position: fixed;
  z-index: 999;
  bottom: 0px;
  left: auto;
  right: auto;
  margin: 0px auto;
  display: none;
  width: 100%;
  text-align: center;
}

.bet-slip-count a{
  background: #1D1D1D;
  color: #fff;
  padding: 0px 30px;
  height: 50px;
  line-height: 50px;
  display: table;
  margin: 0px auto;
  /*border-radius: 10px 10px 0px 0px;*/
  box-shadow: -1px -2px 6px #79BD2E;
  font-weight: bold;
}

.bet-slip-count a span{
  background: #fdfffc;
  margin-left: 10px;
  color: #0c2f4b;
  padding: 0;
  /*border-radius: 6px;*/
  width: 25px;
  height: 25px;
  display: block;
  line-height: 25px;
  float: right;
  font-weight: bold;
  margin-top: 14px;
  font-size: 12px;
}

.odd-table tbody td.score div p span {
  display: table;
  width: 100%;
  text-align: center;
  line-height: 15px;
} 

#back-top {
  width: 50px;
  height: 50px;
  /*border-radius: 50%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 20px;
  background: #007be4;
  color: #fff;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  transition: 0.5s;
}

.select-country img {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 4px;
  left: 5px;
  /*border-radius: 50%;*/
}

.input-placeholder-color input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.input-placeholder-color input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.input-placeholder-color input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.input-placeholder-color input:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

.overlay-btn {
  top: 0;
  right: 0;
  border: none;
  padding: 8px 10px;
  transition: 0.5s;
  height: 41px;
}

.confirm-btn a {
  background-color: #AFB1B7;
  color: #fff;
  /*border-radius: 8px;*/
  padding: 10px 20px;
}

.sms-btn {
  background-color: #1b527e;
  color: #fff;
}


.eye-img {
  top: 10px;
  right: 15px;
}

input[type="password"] {
  padding-right: 50px;
}

.divide hr  {
  border-color: #cdd5dc !important;
}

.img-size {
  width: 18px;
}

/*input:not(:focus):valid ~ .floating-label*/

input:focus ~ .floating-label, .value ~ .floating-label {
  top: -11px;
  left: 10px;
  font-size: 14px;
  opacity: 1;
  z-index: 9;
  background-color: #fff;
  padding: 0 5px;
}

.input-group {
  position: relative;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.5s ease all;
  font-size: 14px;
  color: #000;
  padding: 0 5px;
}

.number-flag img {
  width: 30px;
  height: 30px;
  /*border-radius: 50%;*/
  position: absolute;
  top: 5px;
  left: 10px;
}

.number-flag .floating-label {
  left: 50px;
  top: 15px;
}

.bet-slip-number .bet-no {
  font-weight: bold;
  color: rgba(8, 63, 108, 1);
  font-size: 14px;
}

.bet-slip-number .cash-out {
  background: rgba(8, 63, 108, 1);
  background: -moz-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8, 63, 108, 1)), color-stop(49%, rgba(3, 93, 172, 1)), color-stop(100%, rgba(3, 93, 172, 1)));
  background: -webkit-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: -o-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: -ms-linear-gradient(left, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  background: linear-gradient(to right, rgba(8, 63, 108, 1) 0%, rgba(3, 93, 172, 1) 49%, rgba(3, 93, 172, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083f6c', endColorstr='#035dac', GradientType=1);
  color: #fff;
  border: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  /*border-radius: 10px; */
}

.bet-slip-number .status span:nth-child(2), .return-color {
    color: #007be4;
}

.my-bet-section .border-bottom {
    border-bottom: 1px solid #b8b8b8;
}

.custom-modal h3 {
  color: #F4EE35;
  font-weight: bold;
  font-size: 28px;
}

.custom-modal p {
  color: #ffffff;
}

.custom-modal .resend-code p {
  color: #ffffff;
}

.custom-modal .resend-code p a {
  color: #F4EE35;
}

img.back-arrow {
  position: relative;
  top: -3px;
}

.custom-modal label {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 3px;
}

/*.custom-modal input.form-control {
  border: 1px solid #ff3036;
}*/

.custom-modal .form-check label {
  color: #ffffff;
}

.custom-modal .modal-content {
  border-radius: 0;
  background-color: #2C2A2A;
}

.custom-modal button.close {
  position: absolute;
  right: 50px;
  z-index: 9999;
  top: 50px;
  opacity: 1;
}

.custom-modal button.close span {
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  opacity: 1;
}

.toggle-password {
  position: absolute;
  right: 20px;
  top: 40px;
  color: #AFB1B7;
}

.forgot-pass a {
  color: #F4EE35;
  font-size: 16px;
}

.auth-btn button {
  width: 100%;
  background: #E12239;
  border: 0;
  /*border-radius: 8px;*/
  height: 45px;
  color: #fff;
}

.auth-btn button:hover {
  background: #F4EE35;
  color: #000;
}

.auth-form {
  position: relative;
  height: 100%;
}

.modal-foot {
  color: #fff;
}

.modal-foot a, .form-check label a{
  color: #F4EE35;
}

.modal-foot {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /*background: rgba(244, 244, 244,0.5);*/
  padding: 8px 0;
  border-bottom-right-radius: 20px;
}

.auth-image {
  position: relative;
  height: 100%;
}

.auth-image img {
  /*border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;*/
  height: 100%;
}

.auth-image{
  position: relative;
}

.auth-image:before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  /*border-radius: 20px 0 0px 20px;*/
}

.auth-logo {
  position: absolute;
  top: 40px;
  text-align: center;
  width: 100%;
}

.auth-logo img {
  /*border-radius: 0;*/
}

.count-select {
  position: absolute;
  top: 31px;
  left: 6px;
}

.count-select select, .count-select select:focus {
  background: transparent;
  border: 0;
  /*border-radius: 4px;*/
  color: #ffffff;
  height: 43px;
}

.custom-modal.show-modal {
  display: block;
  opacity: 1;
}

.user-image {
  width: 50px;
  height: 50px;
  /*border-radius: 100%;*/
}

.user-image img {
  width: 100%;
  height: 100%;
  /*border-radius: 100%;*/
}

.username p:first-child {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.username p:last-child {
  color: #7C7B7B;
  font-size: 14px;
}

.user-name {
  background: #1D1D1D;
  box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.1);
  /*border-radius: 18px;*/
  padding: 15px;
}

.account-tabs .nav-link {
  width: 100%;
  color: #7C7B7B;
  font-size: 18px;
  border: 0;
  display: flex;
  align-items: center;
  padding: .8rem 1rem;
}

.account-tabs .nav-link img {
  width: 22px;
  margin-right: 10px;
}

.account-tabs .nav-link.active img, .account-tabs .nav-link:hover img {
  display: none;
}

.account-tabs .nav-link img + img {
  display: none;
}

.account-tabs .nav-link.active img + img, .account-tabs .nav-link:hover img + img {
  display: block;
}

.account-middle {
  background: #1D1D1D;
  /*border-radius: 16px;*/
  padding: 0px 0 20px 0;
}

.account-middle .tab-content .tab-pane nav .nav-tabs {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.18);
  border-bottom: none;
}

.profile-tabs .nav-tabs .nav-item.show .nav-link, .profile-tabs .nav-tabs .nav-link.active, .profile-tabs .nav-tabs .nav-link:hover {
  color: #F4EE35;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #E12239;
}

.profile-tabs .nav-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding: .5rem .8rem;
}

.profile-tabs .nav-tabs {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  border-bottom: none;
}

.profile-tabs .nav-tabs li a {
  padding: 5px 10px;
}

.account-tabs {
  background: #1D1D1D;
  box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.1);
  /*border-radius: 18px;*/
  margin-top: 15px;
  padding: 12px 0;
}

.account-tabs .nav-tabs {
  border-bottom: 0;
}

.account-tabs .nav-tabs .nav-item.show .nav-link, .account-tabs .nav-tabs .nav-link.active, .account-tabs .nav-tabs .nav-link:hover {
  color: #ffffff;
  background-color: #E12239;
  border-color: transparent;
  border-radius: 0px;
}

.profile-form {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  min-height: 600px;
}

.save-btn a {
  background: #E12239;
  color: #fff;
  /*border-radius: 8px;*/
  width: 80px;
  display: inherit;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.cal-icon {
  position: absolute;
  right: 25px;
  top: 35px;
}

.profile-add {
  background: #F4EE35;
  /*border-radius: 16px;*/
  padding: 20px;
  color: #000;
  padding-bottom: 0;
}

.profile-add h4 {
  font-size: 20px;
  padding-bottom: 10px;
}

body label {
  color: #ffffff;
  margin-bottom: 5px;
}

input.form-control {
  border: 1px solid #222121;
  background-color: #222121;
  height: 52px;
  color: #ffffff !important; 
}

input.form-control:focus {
  background-color: #222121;
  outline: none;  
}

.gender-box {
  border: 1px solid #AFB1B7;
  text-align: center;
  height: 38px;
  /*border-radius: .25rem;*/
  line-height: 35px;
  color: #ffffff;
  cursor: pointer;
}

.gender-box.active {
  background: #E12239;
  color: #fff;
}

.for-pass {
  color: #F4EE35;
  font-weight: 500;
  padding-top: 23px;
  display: inline-block;
}

.for-pass:hover {
  color: #E12239;
}

.len {
  font-size: 11px;
  color: #AFB1B7;
  padding-top: 25px;
}

.transaction-table .table tr th {
  border-bottom: 0;
  background: #F4EE35;
  color: #000;
  border-top: 0;
  font-size: 14px;
}

.transaction-table .table tr td {
  border-top: 0;
  color: #ffffff;
  font-size: 14px;
}

.transaction-table {
  padding: 20px;
}

/*.transaction-table .table thead tr th:first-child, .transaction-table .table tr td:first-child  {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.transaction-table .table thead tr th:last-child, .transaction-table .table td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}*/

.transaction-table .table-striped tbody tr:nth-of-type(even) {
  background-color: #1D1D1D;
}

.transaction-table .table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}

.transaction-table td a {
  color: #E12239;
}

.green-text {
  color: #79BD2E !important;
}

.failed-text {
  color: #73777F !important;
}

.history-tabs {
  padding: 20px;
}

.history-tabs ul.nav-pills {
  border: 1px solid #FF3036;
  /*border-radius: 8px;*/
  width: auto;
}

.history-tabs a.nav-link {
  color: #AFB1B7;
  padding: .3rem 0;
  font-size: 16px;
}

.ticket-detail {
  border-top: 1px solid rgba(175, 177, 183,0.5);
  border-bottom: 1px solid rgba(175, 177, 183,0.5);
  margin: 12px;
  padding: 12px 0;
}

.history-tabs .nav-pills li {
  width: calc(100% / 3);
  text-align: center;
  border-right: 1px solid #FF3036;
}

.calb-icon {
  position: absolute;
  right: 20px;
  top: 7px;
}

.score-block {
  background: #F4F4F4;
  /*border-radius: 8px;*/
  padding: 10px 15px;
}

.score-number {
  background: #fff;
  border: 1px solid #A0A4AE;
  /*border-radius: 8px;*/
  padding: 3px 10px;
}

.score-block ul li {
  display: inline-block;
  color: #000;
}

.score-block ul li:first-child {
  width: 25%;
  color: #73777F;
}

.score-block ul {
  border-bottom: 1px solid rgba(115, 119, 127,0.1);
  padding: 3px 0; 
}

.score-block ul:last-child {
  border-bottom: 0;
}

.score-block p {
  color: #000 !important;
  font-size: 16px;
}

.history-tabs .nav-pills li:last-child {
  border-right: 0;
}

.history-tabs .nav-pills .nav-link.active, .history-tabs .nav-pills .show>.nav-link {
  background: #E12239;
  border-radius: 0;
}

/*.history-tabs .nav-pills li:first-child .nav-link.active {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.history-tabs .nav-pills li:last-child .nav-link.active {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}*/

.sports-section .mkt-head {
  background: transparent;
  /*border-radius: 0;*/
  padding: 12px 0;
}
.sports-section .profile-tabs .nav-link {
  font-size: 14px;
}
.sports-section .profile-tabs .nav-tabs {
  padding-left: 5px;
}

.sports-section .mkt-head svg {
  font-size: 16px;
  top: 15px;
  color: #fff;
}

.sports-table thead {
  background: #2c2a2a;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
}

.bg-section.sports-bg {
  padding: 0;
  background: transparent;  
}

.search-input img {
  right: 10px;
  top: 10px;
  width: 18px;
}

.res-cal {
  right: 5px;
  top: 6px;
}

.result-cat .form-control:disabled, .form-control[readonly] {
  background-color: #F4F4F4;
  opacity: 0.5;
}

.result-table thead {
  background: #F2E7E1;
}

.result-table thead tr th {
  border: 0;
  font-size: 14px;
  padding: .5rem .75rem;
}

.result-table tr td {
  border: 0;
  color: #000;
  vertical-align: middle;
  padding: .3rem .75rem;
}

.result-table tr {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
}

.result-table tr:first-child {
  box-shadow: none;
}

.result-table .dropdown-toggle::after {
  content: none;
}

.result-table button.btn-danger {
  background: #E12239;
  /*border-radius: 8px;*/
  border: 0;
  padding: 5px 15px;
  margin: 0 15px;
}

.profile-add img {
  width: 100%;
}

.static-container h4 {
  font-weight: bold;
  color: #fff;
  margin: 20px 0;
}

.static-images {
  position: absolute;
  right: 50px;
  top: 0px;
  width: 120px;
}

.static-container p {
  margin-bottom: 20px;
  color: #ffffff;
}

.static-container h5 {
  margin: 20px 0;
  color: #ffffff;
  font-weight: bold;
}

.promo-section {
  margin: 0 auto;
}

.static-container {
  /*background: #fff;*/
  /*border-radius: 16px;*/
  padding: 20px;
}

.head-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.promo-blocks {
  background: #F4EE35;
  /*border-radius: 16px;*/
}

.promo-block {
  background: #1D1D1D;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  /*border-radius: 16px;*/
  min-height: 700px;
  padding: 15px;
}

.promo-block h4.promo {
  color: #ffffff;
}

.result-table button.btn-danger img {
  position: relative;
  top: -1px;
}

.result-table span {
  color: #000;
  display: inline-block;
}

td p.res-date {
  color: #AFB1B7;
  font-size: 12px;
}

td.res-td {
  padding-top: 15px !important;
  padding-bottom: 10px !important;
}

.search-input input::placeholder {
  color: #AFB1B7;
}

.res-head {
  border-bottom: 4px solid #F4F4F4;
  padding: 10px 15px;
}

.result-table .dropdown-menu {
  min-width: auto;
  padding: 0;
}

.result-cat {
  padding: 0 15px;
}

.custom-breadcrumbs li a {
  color: #fff;
  font-size: 14px;
}

.custom-breadcrumbs .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
  position: relative;
  top: -2px;
}

.result-section {
  background: #fff;
  /*border-radius: 16px;*/
  padding: 10px 0px;
}

.custom-breadcrumbs li.active a {
  color: #000;
}

.custom-breadcrumbs .breadcrumb {
  background: transparent;
  padding: 0 .5rem;
  margin-bottom: .5rem;
}

.sports-table thead tr th {
  padding: .5rem;
  border-bottom: 1px solid #fff;
}

.sports-table tbody tr td {
  vertical-align: middle;
  padding: .2rem .75rem;
}

.sports-table .table  {
  color: #fff;
}

.pagination-block .page-link {
  padding: .3rem .6rem;
  color: #000;
  background-color: #F4EE35;
  border: 1px solid #F4EE35;
  /*border-radius: 8px;*/
}

.pagination-block li {
  margin-right: 5px;
  color: #fff;
}

.pagination-block {
  margin: 20px 0;
}

.pagination-block .page-link.active {
  background: #E12239;
  color: #fff;
  border-color: #E12239;
}

.pagination-block .page-item.disabled .page-link {
  padding: .3rem .6rem;
  color: #212121;
  background-color: #f4f4f4;
  border: 1px solid #AFB1B7;
  /*border-radius: 8px;*/
}

.pagination-block .page-item:last-child .page-link {
  /*border-radius: 8px;*/
}

.sports-table tr td span {
  border: 1px solid #fff;
  /*border-radius: 8px;*/
  padding: 5px 10px;
  color: #fff;
}

.market-value {
  border: none !important;
  /*border-radius: 0 !important;*/
  padding: 0 !important;
}

.sports-table tr td p {
  border: 1px solid #AFB1B7;
  /*border-radius: 8px;*/
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
}

.sports-table tr td a {
  color: #fff;
  font-weight: 500;
}

.sports-table tr td.nme a {
  color: #fff;
}

.sports-table table tr {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
}

.view-btn {
  padding: 10px;
}

.sports-back {
  background: #1D1D1D;
  /*border-radius: 16px;*/
}

.view-btn a span {
  margin-left: 10px;
  font-weight: bold;
  color: #ffffff;
}

.view-btn a {
  background: #FF3036;
  /*border-radius: 8px;*/
  text-align: center;
  padding: 8px 0;
  color: #fff;
  font-weight: bold;
  width: 100%;
  display: inline-block;  
}

.live-market {
  width: 355px;
  float: left;
  margin-right: 1rem;
}

.chosen-market .mkt-odds .live-svg {
  color: #ffffff;
}

.live-right {
  width: 100%;
  float: left; 
}

.live-market h2 {
  background: #E12239;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 10px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.1);
}

.live-market.chosen-market h2 {
  background-color: #FF3036;
  text-transform: capitalize;
}

.live-market .mkt-head {
  background-color: rgb(44 42 42 / 40%);
  padding: 10px 8px;
  /*border-radius: 0;*/
  border-bottom: 1px solid #AFB1B7;
}

.live-market .mkt-odds p {
  color: #1D1D1D;
}

.live-market .mkt-odds p.live-p {
  color: #F4EE35;
  font-size: 12px;
}

.live-market .mkt-odds {
  background-color: #3E3E3E;
}

p.green-bg {
  background-color: #79BD2E;
  color: #fff !important;
  font-size: 10px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

span.arrow-span {
  font-size: 18px;
}

.mkt-head svg.live-svg {
  top: 12px;
}

td .date-block {
  background-color: #f4f4f4;
  border: 1px solid #AFB1B7;
  /*border-radius: 8px;*/
  width: 40px;
  text-align: center;
}

.live-blocks {
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  padding-bottom: 10px;
}

.live-blocks.active {
  background-color: #1D1D1D;
}

.live-blocks table tbody tr td:nth-child(2) p {
  color: #ffffff;
  font-weight: normal;
}

/*.live-market .mkt-odds .live-blocks.active p {
  color: #fff;
}*/

.live-market .mkt-odds .live-blocks.active p.live-p {
  color: #F4EE35;
}

/*.live-blocks.active td .date-block {
  background-color: #012E59;
  border: 1px solid #819CB5;
}*/

/*.live-market .live-blocks.active .mkt-odd-cover li a {
  background-color: #2C2A2A;
  border: 1px solid #FF3036;
}*/

.green-color {
  color: #79BD2E !important;
}

.reds-color {
  color: #F8111B !important;
}

.live-blocks.active .mkt-odd-cover li a span {
  color: #fff;
}

.mkt-odd-cover li a span.red-color {
  color: #F8111B;
}

.live-blocks.active .blue-arrow {
  color: #1D1D1D;
  position: absolute;
  top: 0;
  right: -7px;
  z-index: 999999;
  font-size: 20px;
}

.live-blocks.active span.arrow-span {
  color: #fff;
}

.live-market .mkt-odds .live-blocks.active table tr td a {
  color: #fff;
}

.live-market .mkt-odds table tr td {
  border-top: 0;
}

.live-market .mkt-odd-cover {
  padding: 0 8PX;
}

.live-market .mkt-odds table tr td a {
  color: #ffffff;
  font-weight: normal;
}

.live-market .mkt-odds .date-block p {
  font-size: 10px;
}

.live-market .mkt-odds p img {
  width: 20px;
  margin-right: 5px;
  margin-top: -8px;
}

.rSlider {
  position: relative;
}
.slider-bg {
  background: #fff;
  /*border-radius: 8px;*/
  padding: 15px;
}
.rSlider .slide {
  height: 5px;
  position: absolute;
  left: 0;
  top: 9px;
  z-index: 2;
}
.filters span {
  width: 18%;
  display: inline-block;
  text-align: center;
}
.rSlider input[type=range] {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #04396C;
  /*border-radius: 5px;*/
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rSlider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #04396C;
  cursor: pointer;
  /*border-radius: 100%;*/
}

.rSlider input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #04396C;
  cursor: pointer;
  /*border-radius: 100%;*/
}

@media (min-width: 576px) {
  .custom-modal .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
  }
}

.tab-pane {
  color: #F4F4F4;
}

.bg-section .profile-tabs .details .mkt-odds .mkt-odd-cover ul {
  align-items: center;
}

.bg-section .profile-tabs .details .mkt-odds .mkt-odd-cover ul li a {
  border: none;
  background: none;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.bg-section .profile-tabs .details .mkt-odds .mkt-odd-cover ul li:nth-child(1) {
  width: 200px;
  flex-grow: 1;
}

.bg-section .profile-tabs .details .mkt-odds .mkt-odd-cover ul li:nth-child(2),
.bg-section .profile-tabs .details .mkt-odds .mkt-odd-cover ul li:nth-child(3) {
  width: 90px;
}


.bg-section .profile-tabs .details .mkt-odds .mkt-odd-cover ul {
  border-bottom: 1px solid #FF3036;
}

.bg-section .profile-tabs ul li {
  background-color: inherit;
  /*border-radius: 0;*/
  border: none;
  /*border-bottom: 1px solid #FF3036;*/
  color: #ffffff;
  display: flex;
  align-items: center;
  height: auto;
}


.d-inline-block {
  display: inline-block;
  text-align: center;
}

.green-box {
  background-color: #90D2EE !important;
  padding: 5px 0 !important;
}

.red-box {
  background-color: #FCAFB3 !important;
  padding: 5px 0 !important;
}

.green-box a, .red-box a {
  color: #1D1D1D !important;
}

.market-list {
  text-align: right;
  line-height: normal;
  padding-top: 5px;
}

.market-list a, .market-list a:hover {
  color: #F4EE35;
  font-size: 12px;
}

.deposit-btn button {
  width: 100%;
  text-align: center;
  height: 52px;
  color: #ffffff;
  background: #FF3036;
  /*border-radius: 8px;*/
  border: none;
}

#deposit nav .nav-tabs p, #withdrawal nav .nav-tabs p, #verification nav p {
  padding: 27px 15px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 150%;
}

#deposit nav .nav-tabs p span {
  line-height: 20px;
  margin-right: 10px;
  font-size: 24px;
}

#deposit .deposit-section input {
  width: 100%;
  background: #222121;
  border: 1px solid #222121;
  box-sizing: border-box;
  /*border-radius: 6px;*/
  height: 52px;
  padding: .375rem 2rem;
  color: #ffffff
}

.deposit-type p {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.deposit-type p span {
  color: #927979;
  font-size: 15px;
  padding-left: 10px;
}

.deposit-section span {
  color: #7C7B7B;
  font-size: 16px;
}

.bank-detail {
  background: #222121;
  /*border-radius: 8px;*/
  padding: 16px 10px;
  margin-bottom: 30px;
}

.upload-text p {
  font-size: 16px;
  text-align: center;
  color: #7C7B7B;
  margin-bottom: 16px;
}

.upload-file input {
  width: 50% !important;
  z-index: 999;
  position: relative;
  opacity: 0;
}

.custom-file-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
  opacity: 1;
  background: #222121;
  border: 1px solid #222121;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin: 0 auto;
  right: 0;
  width: 50%;
}

.verification-text p {
  font-size: 14px;
  color: #AFB1B7;
  margin-bottom: 20px;
}

body .verification-tabs ul li a.active {
  color: #F4EE35 !important;
  background-color: transparent !important;
  border-color: transparent transparent #E12239 !important;
}

body .verification-tabs ul li a {
  font-size: 16px;
  color: #7C7B7B;
}

body .verification-tabs .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
}

body .verification-tabs ul {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.pan-card-input label {
  display: inline-block;
  width: 100%;
  color: #F4F4F4;
  font-size: 16px;
}

.pan-card-input input {
  width: 100%;
  background: #222121;
  border: 1px solid #222121;
  box-sizing: border-box;
  /*border-radius: 6px;*/
  height: 52px;
  padding: .375rem 2rem;
  color: #ffffff;
}

#pan-card .pan-text p{
  color: #AFB1B7;
  font-size: 14px;
  padding-top: 10px;
}

.custom-file-input span {
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 10px;
}

#deposit .count-select select {
  background-color: #222121;
  -webkit-appearance: none;
  height: 52px;
}

#deposit .input-check {
  position: absolute;
  right: 10px;
  top: 44px;  
}

#deposit .skrill-img {
  position: absolute;
  left: 10px;
  top: 14px;
}

#deposit .deposit-section label {
  color: #F4F4F4;
  font-size: 16px;
  width: 100%;
}

#deposit nav .nav-tabs p span > span {
  color: #7C7B7B;
  font-weight: normal;
  font-size: 14px;
}

#withdrawal .withdrawal-form input {
  width: 100%;
  background: #222121;
  border: 1px solid #222121;
  box-sizing: border-box;
  /*border-radius: 6px;*/
  height: 52px;
  padding: .375rem 2rem;
  color: #ffffff;
  margin-bottom: 30px;
}

#withdrawal .withdrawal-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7C7B7B;
}
#withdrawal .withdrawal-form input::-moz-placeholder { /* Firefox 19+ */
  color: #7C7B7B;
}
#withdrawal .withdrawal-form input:-ms-input-placeholder { /* IE 10+ */
  color: #7C7B7B;
}
#withdrawal .withdrawal-form input:-moz-placeholder { /* Firefox 18- */
  color: #7C7B7B;
}

.submit-btn button {
  width: 100%;
  text-align: center;
  height: 52px;
  color: #ffffff;
  background: #FF3036;
  /*border-radius: 8px;*/
  border: none;
}

#verify-modal p {
  color: #AFB1B7;
  font-size: 14px; 
}

#verify-modal p a{
  color: #F4EE35;
}

#verify-modal .modal-content {
  background: #2C2A2A;
  /*border-radius: 16px;*/
}

/*Custom Radio button desing*/
.custom-radio {
  display: block;
  position: absolute;
  top: 14px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  top: -10px;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 10px;
  height: 20px;
  width: 20px;
  background-color: #3E3E3E;
  /*border-radius: 50%;*/
}

.custom-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-radio input:checked ~ .checkmark {
  background-color: #FF3036;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio input:checked ~ .checkmark:after {
  display: block;
}

.custom-radio .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  /*border-radius: 50%;*/
  background: white;
}
/*End Custom Radio button desing*/

#gamedetail-popup .modal-header,
#gamedetail-popup-1 .modal-header{
  border-bottom: none;
}

#gamedetail-popup.custom-modal button.close,
#gamedetail-popup-1.custom-modal button.close{
  right: 30px;
  top: 16px;
}

#gamedetail-popup .modal-body p,
#gamedetail-popup-1 .modal-body p {
  color: #ffffff
}

#gamedetail-popup .modal-body p a,
#gamedetail-popup-1 .modal-body p a {
  color: #F4EE35;
}

.match-name {
  background-color: #F4EE35;
  /*border-radius: 8px;*/
}

.match-name span img {
  padding: 0 3px;
}

.popup-icons {
  position: absolute;
  top: 13px;
  right: 30px;
}

.input-rupee {
  position: absolute;
  top: 18px;
  left: 10px;
  color: #7C7B7B;
}

.green-value{
  background: #90D2EE;
  color: #000;
  padding: 3px 5px;
  margin-right: 2px;
}

.red-value{
  background: #FCAFB3;
  color: #000;
  padding: 3px 5px;
}
.red-value a , .green-value a {
  color: #000;
}

.mkt-odd-cover li span:first-child {
  width: 50%;
}

.full-match-data .profile-tabs .mkt-odd-cover ul li:first-child {
  width: 200px;
  flex-grow: 1;
}

.full-match-data .profile-tabs .mkt-odd-cover ul li{
  width: 50px !important;
}

#betslip-responisve .modal-content {
  background-color: #3E3E3E;
}